<?xml version="1.0"?>
<configuration>

  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="logs\test.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="RepositoryUrl" value="http://localhost:63345/ContactRepository.svc"/>
    <add key="StorageEngineUrl" value="http://localhost:63345/StorageEngine.svc"/>
    <add key="ServiceBusConnectionString" value="Endpoint=sb://e4d-demo.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=hxtqvA5kyzKFin0MPGzpLqg8YqsLe5oBEfGfcDiVIro=" />
    <add key="NewContactsTopic" value="new-contacts-debug" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Data.Properties.Settings.AzureDemoContactsConnectionString"
        connectionString="Data Source=.\SQL2012;Initial Catalog=AzureDemoContacts;Integrated Security=True"
        providerName="System.Data.SqlClient" />-->
    <add name="Data.Properties.Settings.AzureDemoContactsConnectionString"
        connectionString="Server=tcp:yfglgwxnf7.database.windows.net,1433;Database=contacts;User ID=capp@yfglgwxnf7;Password=CA123456!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding>
          <security mode="None">
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Application.ContactsManager">
        <endpoint address=""
                  contract="Contracts.IContactsManager"
                  binding="wsHttpBinding">
          <identity>
            <dns value="localhost"/>
          </identity>

        </endpoint>
      </service>
      <service name="Data.ContactRepository">
        <endpoint address=""
                  contract="Contracts.IContactRepository"
                  binding="wsHttpBinding">
          <identity>
            <dns value="localhost"/>
          </identity>

        </endpoint>
      </service>
      <service name="Application.AzureStorageEngine">
        <endpoint address=""
                  contract="Contracts.IStorageEngine"
                  binding="wsHttpBinding">
          <identity>
            <dns value="localhost"/>
          </identity>

        </endpoint>
      </service>
    </services>
    <client>
      <endpoint address="http://127.0.0.1:81/ContactRepository.svc"
                contract="Contracts.IContactRepository"
                binding="wsHttpBinding"/>
      <endpoint address="http://127.0.0.1:81/StorageEngine.svc"
                contract="Contracts.IStorageEngine"
                binding="wsHttpBinding"/>
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
    <protocolMapping>
      <add binding="wsHttpBinding" scheme="http" />
    </protocolMapping>
  </system.serviceModel>
</configuration>
